<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	
	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
		
		<Appenders>
			<Console name="Console">
				<PatternLayout pattern="%d %-5p [%c] (%t) %m%n" />
			</Console>
	
			<RollingRandomAccessFile name="RollingRandomAccessFile"
				immediateFlush="true" fileName="logs/netty.log"
				filePattern="${sys:catalina.base}/logs/app.%d{yyyy-MM-dd}.log">
				<PatternLayout pattern="%d %-5p [%c] (%t) %m%n" />
				<Policies>
					<TimeBasedTriggeringPolicy />
				</Policies>
			</RollingRandomAccessFile>
			
		</Appenders>
        <!-- 日志输出级别 -->
        <Loggers>
			<Root level="DEBUG">
				<AppenderRef ref="Console" />
				<AppenderRef ref="RollingRandomAccessFile" />
			</Root>
		</Loggers>
	
</Configuration>